body{
    font-family: sans-serif;
    padding: 7px;
}
.header{
    padding: 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    margin-bottom: 50px;
}
.image{
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}
span{
    margin-left: 7px;
    margin-right: 7px;
}
.cards{
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
.cards:hover{
    transform: translateX(3px);
    color: black;
  
}
#view{
    cursor: default;
    color: rgb(33, 83, 190);
}
.title{
    font-weight: bolder;
}
.wrapper{
    width: 60%;
}
@media (max-width:550px) {
    .cards{
        display: block;
    }
    .img_div{
        width: fit-content;
        margin: auto;
    }
    .wrapper{
        width: fit-content;
        margin: auto;
    }
    .img_div img{
        width: 100%;
        height: 100%;
    }
    .text{
        text-align: center;
    }
    .title{
        text-align: center;
        font-size: 30px;
    }
    .icon_area{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}